package partials

import (
	model "joshuamURD/wardens-court-summariser/internal/models"
	"joshuamURD/wardens-court-summariser/views/home"
)

templ Table(decisions []*model.Decision) {

	if len(decisions) == 0 {
		<div class="flex justify-center items-center h-screen">
			<div class="text-2xl font-bold">No decisions found</div>
		</div>
	}

	for _, decision := range decisions {
		@views.DecisionRow(*decision)
	}
}
